@font-face {
  font-family: "DancingScript-Bold";
  src: url("../fonts/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "DancingScript-Medium";
  src: url("../fonts/DancingScript-Medium.ttf");
}

@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "DancingScript-SemiBold";
  src: url("../fonts/DancingScript-SemiBold.ttf");
}

@font-face {
  font-family: "Summer-Vibes";
  src: url("../fonts/Summer-Vibes.otf");
}